.bash_logout
.cache
Desktop
.dmrc
Documents
Downloads
.esd_auth
.fltk
git
.gitconfig
.gitignore.swp
.gnupg
.icons
.lesshst
lfs
.links
.local
mount_points
mount_tmp_points
.pki
.python_history
.ssh
.steam
.steampath
.steampid
.subversion
tarballs
.w3m
.wget-hsts
.wine
workspace
.Xauthority
.xsession-errors
.xsession-errors.old
.config/bookworm
.vim
